---
import NavBar from "../../components/interstellar/NavBar.astro";
import Option from "../../components/interstellar/Option.astro";
---
<html>
<head>
  <title>Classes</title>
  <link rel="icon" type="image/x-icon" href="assets/images/branding/favicon/favicon.png">
  <link rel="stylesheet" href="assets/css/particles.css" />
  <script is:inline src="/interstellar/assets/js/main.js"></script>
  <script is:inline src="/script/bundle.js"></script>
  <script is:inline src="/script/config.js"></script>
  <script is:inline src="./index.js"></script>
  <script is:inline src="/interstellar/assets/js/search.js"></script>
  <script is:inline src="/interstellar/assets/js/go.js"></script>
  <script is:inline src="./assets/js/themecontrol.js"></script>
  <link rel="stylesheet" href="assets/css/settings/main.css" />
  <link rel="stylesheet" href="assets/css/nav.css" />
  <link rel="stylesheet" href="assets/css/apps.css" />
  <link rel="stylesheet" href="assets/css/searchbar.css" />
  <meta name="description" content="The best math tutoring!" />
  <link rel="shortcut icon" href="assets/images/branding/favicon/interstellar.png" type="image/x-icon" />
</head>
<body>
  <NavBar />
  <br>
  <br>
  <br>
  <br>
  <br>
  <Option className="card animals" url="https://amazon.com/" imageSrc="./assets/images/icons/apps/amazon.png" title="Amazon" />
  <Option className="card animals" url="https://chess.com" imageSrc="./assets/images/icons/chess.png" title="Chess.com" />
  <Option className="card animals" url="https://www.coolmathgames.com/" imageSrc="./assets/images/icons/apps/coolmath.png" title="Cool Math Games" />
  <Option className="card animals" url="https://discord.com" imageSrc="./assets/images/icons/apps/discord.jpg" title="Discord" />
  <Option className="card animals" url="https://www.espn.com/watch/" imageSrc="./assets/images/icons/apps/espn.webp" title="ESPN" />
  <Option className="card animals" url="https://fifarosters.com/" imageSrc="./assets/images/icons/fifa.png" title="Fifa Rosters" />
  <Option className="card animals" url="https://replit.com/@cooleddie001/firefox?embed=true" imageSrc="./assets/images/icons/apps/firefox.png" title="Firefox Brower" />
  <Option className="card animals" url="https://flixhq.to" imageSrc="./assets/images/icons/apps/flixhq.png" title="Flix HQ" />
  <Option className="card animals" url="https://play.geforcenow.com" imageSrc="./assets/images/icons/apps/geforce-now.png" title="Geforce NOW" />
  <Option className="card animals" url="https://github.com/" imageSrc="./assets/images/icons/apps/github.png" title="Github" />
  <Option className="card animals" url="https://google.com" imageSrc="./assets/images/icons/apps/google.png" title="Google" />
  <Option className="card animals" url="https://www.hbomax.com/" imageSrc="./assets/images/icons/apps/hbo.webp" title="HBO Max" />
  <Option className="card animals" url="https://messenger.com/" imageSrc="./assets/images/icons/apps/messenger.png" title="Messenger" />
  <Option className="card animals" url="https://paramountplus.com" imageSrc="./assets/images/icons/apps/paramount.png" title="Paramount Plus" />
  <Option className="card animals" url="https://pinterest.com" imageSrc="./assets/images/icons/apps/pinterest.png" title="Pinterest" />
  <Option className="card animals" url="https://pixlr.com/" imageSrc="./assets/images/icons/pix.png" title="Pixlr" />
  <Option className="card animals" url="https://poki.com" imageSrc="./assets/images/icons/apps/poki.png" title="Poki" />
  <Option className="card animals" url="https://reddit.com" imageSrc="./assets/images/icons/apps/reddit.png" title="Reddit" />
  <Option className="card animals" url="https://nowgg.me" imageSrc="./assets/images/icons/apps/snapchat.png" title="Snapchat [NEW]" />
  <Option className="card animals" url="https://soundcloud.com" imageSrc="./assets/images/icons/apps/soundcloud.jpg" title="Soundcloud" />
  <Option className="card animals" url="https://open.spotify.com" imageSrc="./assets/images/icons/apps/spotify.png" title="Spotify" />
  <Option className="card animals" url="https://web.telegram.org/" imageSrc="./assets/images/icons/apps/telegram.png" title="Telegram" />
  <Option className="card animals" url="https://tiktok.com" imageSrc="./assets/images/icons/apps/tiktok.png" title="Tiktok" />
  <Option className="card animals" url="https://tumblr.com/" imageSrc="./assets/images/icons/apps/tumblr.png" title="Tumblr" />
  <Option className="card animals" url="https://twitch.tv" imageSrc="./assets/images/icons/apps/twitch-tv.png" title="Twitch" />
  <Option className="card animals" url="https://twitter.com" imageSrc="./assets/images/icons/apps/twitter.png" title="Twitter" />
  <Option className="card animals" url="https://replit.com/@cooleddie001/vscode?embed=true" imageSrc="./assets/images/icons/apps/vscode.png" title="VS Code" />
  <Option className="card animals" url="https://y8.com/" imageSrc="./assets/images/icons/apps/y8.png" title="Y8 Games" />
  <Option className="card animals" url="https://youtube.com" imageSrc="./assets/images/icons/apps/yt.png" title="YouTube" />
  <Option className="card animals" url="https://web.whatsapp.com/" imageSrc="./assets/images/icons/apps/whatsapp.png" title="WhatsApp" /

</body>
</html>
