---
import NavBar from "../../components/interstellar/NavBar.astro";
---
<html style="margin: 0">
  <head>
    <title>Classes</title>
    <link rel="icon" type="image/x-icon" href="assets/images/branding/favicon/favicon.png">
    <script is:inline src="./index.js"></script>
    <link rel="stylesheet" href="assets/css/nav.css" />
    <style>
    	body {
	  height: 100vh;
	  overflow: hidden;
	}
    </style>
  </head>
 	<!--NAVBAR-->
   <body>
    <NavBar />
    <br>
    <br>
    <br>
    <br>
    <iframe
      src="https://e.widgetbot.io/channels/938658733788131399/1001129016457166878/"
      style="bottom: 0"
      style="border: 0px #ffffff none"
      name="myiFrame"
      scrolling="yes"
      frameborder="0"
      marginheight="0px"
      marginwidth="0px"
      height="91%"
      width="100%"
      allowfullscreen
    ></iframe>
  </body>
</html>
