---
import NavBar from "../../components/interstellar/NavBar.astro";
import Option from "../../components/interstellar/Option.astro";
---
<html>
<head>
  <title>Classes</title>
  <link rel="icon" type="image/x-icon" href="assets/images/branding/favicon/favicon.png">
  <link rel="stylesheet" href="assets/css/particles.css" />
  <script is:inline src="/interstellar/assets/js/main.js"></script>
  <script is:inline src="/script/bundle.js"></script>
  <script is:inline src="/script/config.js"></script>
  <script is:inline src="./index.js"></script>
  <script is:inline src="/interstellar/assets/js/search.js"></script>
  <script is:inline src="/interstellar/assets/js/go.js"></script>
  <script is:inline src="./assets/js/themecontrol.js"></script>
  <link rel="stylesheet" href="assets/css/settings/main.css" />
  <link rel="stylesheet" href="assets/css/nav.css" />
  <link rel="stylesheet" href="assets/css/apps.css" />
  <link rel="stylesheet" href="assets/css/searchbar.css" />
  <meta name="description" content="The best math tutoring!" />
</head>
<body>
  <NavBar />
  
  <Option className="card animals" url="https://github.com/therealgliz/blooket-hacks" imageSrc="./assets/images/icons/bh.png" title="Blooket Hacks" />
  <Option className="card animals" url="https://github.com/shenkeYT/booket-hack" imageSrc="./assets/images/icons/bh2.png" title="Blooket Hacks 2" />
  <Option className="card animals" url="https://github.com/Minesraft2/Blooket-Cheats" imageSrc="./assets/images/icons/BlooketUI.png" title="Minesraft2's Hacks" />
  <Option className="card animals" url="https://github.com/Blooketware/BlooketUI" imageSrc="./assets/images/icons/BlooketUI.png" title="BlooketUI" />
  <Option className="card animals" url="https://cheatnetwork.eu/" imageSrc="./assets/images/icons/CN.png" title="Cheat Network" />
  <Option className="card animals" url="https://kahoot.club" imageSrc="./assets/images/icons/kahoot.png" title="Kahoot Rocks" />

  <style>
    .card {
      margin-top: 100px;
    }
  <style>


</body>
</html>
