---
import NavBar from "../../components/interstellar/NavBar.astro";
import SearchBar from "../../components/interstellar/SearchBar.astro";
import Option from "../../components/interstellar/Option.astro";
---
<html>
<head>
  <title>Classes</title>
  <link rel="icon" type="image/x-icon" href="assets/images/branding/favicon/favicon.png">
  <link rel="stylesheet" href="assets/css/particles.css" />
  <script is:inline src="/interstellar/assets/js/main.js"></script>
  <script is:inline src="/script/bundle.js"></script>
  <script is:inline src="/script/config.js"></script>
  <script is:inline src="/interstellar/assets/js/random.js"></script>
  <script is:inline src="./index.js"></script>
  <script is:inline src="/interstellar/assets/js/index.js></script>
  <script is:inline src="/interstellar/assets/js/search.js"></script>
  <script is:inline src="/interstellar/assets/js/go.js?v=1"></script>
  <script is:inline src="./assets/js/themecontrol.js"></script>
  <link rel="stylesheet" href="assets/css/settings/main.css" />
  <link rel="stylesheet" href="assets/css/nav.css" />
  <link rel="stylesheet" href="assets/css/apps.css" />
  <link rel="stylesheet" href="assets/css/searchbar.css" />
  <meta name="description" content="The best math tutoring!" />
  <link rel="icon" type="image/x-icon" href="assets/images/branding/favicon/interstellar.png" />
  <link rel="shortcut icon" href="assets/images/branding/favicon/interstellar.png" type="image/x-icon" />
</head>
<body>
  <NavBar />
  <div>
  <br>
    <br>
    <br>
    <br>
    <SearchBar />
    <br>
    <h2>Games shown on this website are the property of their respective owners.</h2>
    <br>
    <Option className="card animals" url="https://forms.gle/iZJe5eB6KJeGe4Am8" imageSrc="./assets/images/icons/request.png" title="Request A Game!" />
    <Option className="card animals" url="https://hgentry.github.io/1/" imageSrc="./assets/images/icons/1.png" title="1" />
    <Option className="card animals" url="https://1v1.lol" imageSrc="./assets/images/icons/1v1-lol.png" title="1v1.LOL" />
    <Option className="card animals" url="https://v6p9d9t4.ssl.hwcdn.net/html/3325334/index.html" imageSrc="./assets/images/icons/2D-Rocket-League.png" title="2D Rocket League" />
    <Option className="card animals" url="https://lagged.com/api/play2/t-rex-3d2/" imageSrc="./assets/images/icons/trex-run-3D.webp" title="3D Dino Game" />
    <Option className="card animals" url="https://www.coolmathgames.com/0-60-second-burger-run/play" imageSrc="./assets/images/icons/60-second-burger-run.png" title="60 Sec. Burger Run" />
    <Option className="card animals" url="https://8ball-pool.io" imageSrc="./assets/images/icons/8ball.png" title="8 Ball Pool" />
    <Option className="card animals" url="https://f.kbhgames.com/r/gba/?r=ace-attorney" imageSrc="./assets/images/icons/aa.jpg" title="Ace Attorney" />
    <Option className="card animals" url="https://static.arcadespot.com/retroemulator.php?system=nds&game=2017/10/animal-crossing-wild-world1.zip" imageSrc="./assets/images/icons/acww.png" title="AC - Wild World" />
    <Option className="card animals" url="https://than1089.github.io/adventure-capitalist/" imageSrc="./assets/images/icons/adventure-capitalist.jpg" title="Adventure Capitalist" />
    <Option className="card animals" url="https://agar.io" imageSrc="./assets/images/icons/agario.png" title="Agar.io" />
    <Option className="card animals" url="https://turbowarp.org/523967150/fullscreen" imageSrc="./assets/images/icons/scratch-among-us.png" title="Among Us (Scratch)" />
    <Option className="card animals" url="https://play.geforcenow.com/games?game-id=cb2b1b5f-54ba-45fd-9839-96bbfe1376cd&lang=en_US&asset-id=01_c6efce00-e91e-402a-8b72-f4971f89c528" imageSrc="./assets/images/icons/apex.png" title="Apex Legends" />
    <Option className="card animals" url="https://html5.gamedistribution.com/rvvASMiM/bf1268dccb5d43e7970bb3edaa54afc8/index.html" imageSrc="./assets/images/icons/br.jpeg" title="Basket Random" />
    <Option className="card animals" url="https://html5.gamedistribution.com/69d78d071f704fa183d75b4114ae40ec/" imageSrc="./assets/images/icons/basketball-stars.png" title="Basketball Stars" />
    <Option className="card animals" url="https://www.basketbros.io/" imageSrc="./assets/images/icons/basket-bros.png" title="Basketball Bros" />
    <Option className="card animals" url="https://www.basketballlegends.fun/gamedata/basketball-legends-2020" imageSrc="./assets/images/icons/basketball-legends.png" title="Basketball Legends" />
    <Option className="card animals" url="https://xlegends.github.io/bitlife/" imageSrc="./assets/images/icons/bitlife.png" title="Bitlife" />
    <Option className="card animals" url="https://en.gameslol.net/data/bloons-td-4/index.html" imageSrc="./assets/images/icons/btd4.jpg" title="BTD 4" />
    <Option className="card animals" url="https://games.crazygames.com/en_US/buildnow-gg/index.html" imageSrc="./assets/images/icons/build-now.png" title="BuildNow.GG" />
    <Option className="card animals" url="https://4iapq88o5f3gc1dij3it0mp5jojnm3jr-a-sites-opensocial.googleusercontent.com/gadgets/ifr?url=https://s3.amazonaws.com/production-assetsbucket-8ljvyr1xczmb/1ee20621-61bc-4ec8-a8ec-5e839c2e6edc%252Fcat-ninja.xml" imageSrc="./assets/images/icons/cat-ninja.webp" title="Cat Ninja" />
    <Option className="card animals" url="https://chess.com" imageSrc="./assets/images/icons/chess.png" title="Chess.com (Fixed)" />
    <Option className="card animals" url="https://interstellarnetwork.github.io/Interstellar-Assets/play/cluster-rush/index.html" imageSrc="./assets/images/icons/cluster-rush.webp" title="Cluster Rush" />
    <Option className="card animals" url="https://orteil.dashnet.org/cookieclicker/" imageSrc="./assets/images/icons/cookieclicker.png" title="Cookie Clicker" />
    <Option className="card animals" url="https://5dd2e1e3-015f-11ea-ad56-9cb6d0d995f7.poki-gdn.com/169dc11d-e718-4b36-9e60-d5ed5bc07a31/index.html" imageSrc="./assets/images/icons/cr.jpg" title="Crossy Road" />
    <Option className="card animals" url="https://v6p9d9t4.ssl.hwcdn.net/html/4017918/index.html" imageSrc="./assets/images/icons/deepest-sword.png" title="Deepest Sword" />
    <Option className="card animals" url="https://diep.io/" imageSrc="./assets/images/icons/diep.png" title="Diep.io" />
    <Option className="card animals" url="https://dogeminer.se/" imageSrc="./assets/images/icons/doge-miner-1.png" title="Doge Miner 1" />
    <Option className="card animals" url="https://browncha023.github.io/GBA/launcher.html#dm" imageSrc="./assets/images/icons/doom1.png" title="Doom 1" />
    <Option className="card animals" url="https://browncha023.github.io/GBA/launcher.html#dm2" imageSrc="./assets/images/icons/doom2.png" title="Doom 2" />
    <Option className="card animals" url="https://watchdocumentaries.com/wp-content/uploads/games/drift-boss/" imageSrc="./assets/images/icons/db.png" title="Drift Boss" />
    <Option className="card animals" url="https://webglmath.github.io/drift-hunters/" imageSrc="./assets/images/icons/drift-hunters.png" title="Drift Hunters" />
    <Option className="card animals" url="http://raw.githack.com/3kh0/3kh0-assets/main/minecraft-18/index.html" imageSrc="./assets/images/icons/mc.webp" title="Eaglercraft 1.8" />
    <Option className="card animals" url="games/electric_man_2/index.html" imageSrc="./assets/images/icons/electricman-2.jpeg" title="Electric Man 2" />
    <Option className="card animals" url="https://play.geforcenow.com/games?game-id=46bfab06-d864-465d-9e56-2d9e45cdee0a&lang=en_US&asset-id=01_15494ab6-efdd-4280-acbc-c740673f17b4" imageSrc="./assets/images/icons/fortnite.png" title="Fortnite" />
    <Option className="card animals" url="https://scratch.mit.edu/projects/469219637/embed/" imageSrc="./assets/images/icons/fnaf2.webp" title="FNAF 2 (Scratch)" />
    <Option className="card animals" url="https://w8.snokido.com/games/html5/friday-night-funkin/0281/index.html" imageSrc="./assets/images/icons/fnf.png" title="Friday Night Funkin'" />
    <Option className="card animals" url="https://fnf.kdata1.com/lofi-funkin/2/" imageSrc="./assets/images/icons/lofi.png" title="FNF - Lofi Mod" />
    <Option className="card animals" url="https://fnf.kdata1.com/snorlax/1/" imageSrc="./assets/images/icons/snorlax.png" title="FNF VS. Snorlax" />
    <Option className="card animals" url="https://justfall.lol" imageSrc="./assets/images/icons/just-fall-lol.png" title="JustFall.LOL" />
    <Option className="card animals" url="https://krunker.io" imageSrc="./assets/images/icons/krunker.jpg" title="Krunker" />
    <Option className="card animals" url="https://f.kbhgames.com/r/n64/game.php?file=007-golden-eye.zip" imageSrc="./assets/images/icons/golden-eye-007.png" title="Golden Eye 007" />
    <Option className="card animals" url="https://browncha023.github.io/GBA/" imageSrc="./assets/images/icons/gba.webp" title="GBA Games" />
    <Option className="card animals" url="https://cattn.github.io/gba/" imageSrc="./assets/images/icons/gba.webp" title="GBA Games 2" />
    <Option className="card animals" url="https://play.geforcenow.com" imageSrc="./assets/images/icons/apps/geforce-now.png" title="Geforce NOW" />
    <Option className="card animals" url="https://games.crazygames.com/en_US/haunted-school---horror-game/index.html" imageSrc="./assets/images/icons/na.png" title="Haunted School 1" />
    <Option className="card animals" url="https://hole-io.com/" imageSrc="./assets/images/icons/hole.png" title="Hole.IO" />
    <Option className="card animals" url="https://interstellarnetwork.github.io/Interstellar-Assets/play/idle-breakout/index.html" imageSrc="./assets/images/icons/idle.png" title="Idle Breakout" />
    <Option className="card animals" url="https://f.silvergames.com/ruffle/player.php?id=204" imageSrc="./assets/images/icons/interactive-buddy.png" title="Interactive Buddy" />
    <Option className="card animals" url="games/learn-to-fly/index.html" imageSrc="./assets/images/icons/learn-to-fly.jpeg" title="Learn To Fly" />
    <Option className="card animals" url="games/learn-to-fly-2/index.html" imageSrc="./assets/images/icons/learn-to-fly-2.jpeg" title="Learn To Fly 2" />
    <Option className="card animals" url="https://www.gameslol.net/data/waflash/index.php?g=635" imageSrc="./assets/images/icons/ltf_idle.jpg" title="Learn To Fly Idle" />
    <Option className="card animals" url="https://lordz.io/" imageSrc="./assets/images/icons/lordz.png" title="Lordz.io" />
    <Option className="card animals" url="https://unblocked-games.s3.amazonaws.com/games/masked-io/index.html" imageSrc="./assets/images/icons/masked-forces.jpg" title="Masked IO" />
    <Option className="card animals" url="https://static.arcadespot.com/retroemulator.php?system=n64&game=2017/06/mario-kart-64.zip" imageSrc="./assets/images/icons/mario-kart-64.jpg" title="Mario Kart 64" />
    <Option className="card animals" url="https://html5.gamemonetize.co/ugi7ftbv2kgodcq7vful9u9v34wein5z/" imageSrc="./assets/images/icons/mm.png" title="Monkey Mart" />
    <Option className="card animals" url="https:/moomoo.io" imageSrc="./assets/images/icons/moo.png" title="MooMoo.io" />
    <Option className="card animals" url="https://f.kbhgames.com/r/n64/game.php?file=Mortal-Kombat-4-U.zip" imageSrc="./assets/images/icons/na.png" title="Mortal Kombat 4" />
    <Option className="card animals" url="https://html5.gamedistribution.com/rvvASMiM/5b0abd4c0faa4f5eb190a9a16d5a1b4c/index.html" imageSrc="./assets/images/icons/mx3m.jpg" title="Moto X3M" />
    <Option className="card animals" url="https://h0jokl1egt0fd4oc8qv3j0tltl9jbqhn-a-sites-opensocial.googleusercontent.com/gadgets/ifr?url=https://649025137-174029463385024710.preview.editmysite.com/uploads/b/139890129-767696982876512205/files/mx3mpp.xml" imageSrc="./assets/images/icons/mx3m.jpeg" title="MX3M: Pool Party" />
    <Option className="card animals" url="https://html5.gamedistribution.com/rvvASMiM/b8a342904608470a9f3382337aca3558/index.html" imageSrc="./assets/images/icons/mx3m-spooky.png" title="MX3M: Spooky Land" />
    <Option className="card animals" url="https://www-sites-opensocial.googleusercontent.com/gadgets/ifr?url=https://sites.google.com/site/s017q3e/moto-x3m-4-winter.xml" imageSrc="./assets/images/icons/mx3m-winter.jpeg" title="MX3M: Winter" />
    <Option className="card animals" url="https://interstellarnetwork.github.io/interstellar-assets/play/ng-space-company/frontend/dist/index.html" imageSrc="./assets/images/icons/ng.png" title="NG Space Company" />
    <Option className="card animals" url="https://html5.gamedistribution.com/rvvASMiM/903ba9346b9d437e9c7e81d672cead44/index.html" imageSrc="./assets/images/icons/ninja-cat.webp" title="Ninja Cat Exploit" />
    <Option className="card animals" url="https://ngg.798sc.com/" imageSrc="./assets/images/icons/now-gg.png" title="Now.GG" />
    <Option className="card animals" url="https://nowgg.me" imageSrc="./assets/images/icons/now-gg.png" title="Now.GG 2" />
    <Option className="card animals" url="https://8rlfg0ch3417et18dp8lvps6uo7c3b2c-a-sites-opensocial.googleusercontent.com/gadgets/ifr?url=https://427396048-642845047394716217.preview.editmysite.com/uploads/b/139890129-761103484729797659/files/ovo.xml" imageSrc="./assets/images/icons/ovo.png" title="OvO" />
    <Option className="card animals" url="https://www.onlinesoccermanager.com/PrivacyNotice?nextUrl=%2F" imageSrc="./assets/images/icons/osm.jpeg" title="Online Soccer M." />
    <Option className="card animals" url="https://f.silvergames.com/emu/waffle/?id=5458" imageSrc="./assets/images/icons/bakeria.jpg" title="Papa's Bakeria" />
    <Option className="card animals" url="https://f.silvergames.com/emu/waffle/?id=3246" imageSrc="./assets/images/icons/cupcakeria.png" title="Papa's Cupcakeria" />
    <Option className="card animals" url="https://f.silvergames.com/ruffle/player.php?id=1373" imageSrc="./assets/images/icons/louie1.png" title="Papa Louie 1" />
    <Option className="card animals" url="https://f.silvergames.com/emu/waffle/?id=3042" imageSrc="./assets/images/icons/louie2.png" title="Papa Louie 2" />
    <Option className="card animals" url="https://f.silvergames.com/emu/waffle/?id=4693" imageSrc="./assets/images/icons/papa-louie-3.webp" title="Papa Louie 3" />
    <Option className="card animals" url="https://html5.gamedistribution.com/rvvASMiM/903ba9346b9d437e9c7e81d672cead44/index.html" imageSrc="./assets/images/icons/ninja-cat.webp" title="Ninja Cat Exploit" />
    <Option className="card animals" url="https://ngg.798sc.com/" imageSrc="./assets/images/icons/now-gg.png" title="Now.GG" />
    <Option className="card animals" url="https://nowgg.me" imageSrc="./assets/images/icons/now-gg.png" title="Now.GG 2" />
    <Option className="card animals" url="https://8rlfg0ch3417et18dp8lvps6uo7c3b2c-a-sites-opensocial.googleusercontent.com/gadgets/ifr?url=https://427396048-642845047394716217.preview.editmysite.com/uploads/b/139890129-761103484729797659/files/ovo.xml" imageSrc="./assets/images/icons/ovo.png" title="OvO" />
    <Option className="card animals" url="https://f.silvergames.com/ruffle/player.php?id=1360" imageSrc="./assets/images/icons/pizzeria.png" title="Papa's Pizzeria" />
    <Option className="card animals" url="https://f.kbhgames.com/r/n64/game.php?file=Paper%20Mario%20(USA).zip" imageSrc="./assets/images/icons/paper-mario-64.jpg" title="Paper Mario 64" />
    <Option className="card animals" url="games/particle-clicker/index.html" imageSrc="./assets/images/icons/pc.png" title="Particle Clicker" />
    <Option className="card animals" url="https://94bfktj403i6m18as4vkvtreqd0ohci4-a-sites-opensocial.googleusercontent.com/gadgets/ifr?url=https://274019683-173520394482650759.preview.editmysite.com/uploads/b/139890129-131715539788281629/files/ps.xml" imageSrc="./assets/images/icons/pixel-shooter.png" title="PS" />
    <Option className="card animals" url="https://static.arcadespot.com/retroemulator.php?system=nds&game=2017/10/pokemon-heartgold-version1.zip" imageSrc="./assets/images/icons/heartgold.jpg" title="Pokemon Heart Gold" />
    <Option className="card animals" url="https://browncha023.github.io/GBA/launcher.html#pokemonlp" imageSrc="./assets/images/icons/lp.webp" title="PM: Light Platinum" />
    <Option className="card animals" url="games/qwop/index.html" imageSrc="./assets/images/icons/qwop.jpeg" title="QWOP" />
    <Option className="card animals" url="https://raw.githack.com/3kh0/3kh0-assets/main/precision-client/index.html" imageSrc="./assets/images/icons/precision.png" title="Precision Client" />
    <Option className="card animals" url="https://play.geforcenow.com/games?game-id=1dd07d47-6601-42f7-80e9-e4d8db08ea1b&lang=en_US&asset-id=01_44417553-d33e-4f06-a02a-48c3d8e642e2" imageSrc="./assets/images/icons/r6.jpg" title="Rainbow Six Siege" />
    <Option className="card animals" url="https://binbashbanana.github.io/webretro/" imageSrc="./assets/images/icons/retroarch.png" title="Retro Arch" />
    <Option className="card animals" url="games/retro-bowl/index.html" imageSrc="./assets/images/icons/retro.png" title="Retro Bowl" />
    <Option className="card animals" url="games/riddle school/index.html" imageSrc="./assets/images/icons/riddle-school.webp" title="Riddle School" />
    <Option className="card animals" url="https://nowgg.me" imageSrc="./assets/images/icons/roblox.png" title="Roblox" />
    <Option className="card animals" url="" imageSrc="./assets/images/icons/rl.jpg" title="Rocket League (BROKEN)" />
    <Option className="card animals" url="https://ngg.798sc.com/" imageSrc="./assets/images/icons/sideswipe.png" title="Rocket League: SS" />
    <Option className="card animals" url="https://v6p9d9t4.ssl.hwcdn.net/html/565140/index.html" imageSrc="./assets/images/icons/rocketpult.jpg" title="Rocket Pult" />
    <Option className="card animals" url="https://html5.gamedistribution.com/rvvASMiM/c3a70ae98547407a92ebedca8b79fdfa/index.html" imageSrc="./assets/images/icons/rooftop.jpeg" title="Rooftop Snipers" />
    <Option className="card animals" url="https://www.coolmathgames.com/0-run-3/play" imageSrc="./assets/images/icons/run3.png" title="Run 3" />
    <Option className="card animals" url="https://sandspiel.club/" imageSrc="./assets/images/icons/sand.jpg" title="Sand Spiel" />
    <Option className="card animals" url="https://shellshock.io/" imageSrc="./assets/images/icons/shell-shockers.png" title="Shell Shockers" />
    <Option className="card animals" url="https://watchdocumentaries.com/wp-content/uploads/games/slope/" imageSrc="./assets/images/icons/slope.png" title="Slope" />
    <Option className="card animals" url="https://emulatorgames.online/games/n64/super-smash-bros" imageSrc="./assets/images/icons/super-smash-bros-64.jpg" title="Smash Bros 64" />
    <Option className="card animals" url="https://cowsssss.github.io/Space/" imageSrc="./assets/images/icons/na.png" title="space" />
    <Option className="card animals" url="games/stickman-hook/index.html" imageSrc="./assets/images/icons/stickman.png" title="Stickman Hook" />
    <Option className="card animals" url="https://nowgg.me" imageSrc="./assets/images/icons/stumble-guys.webp" title="Stumble Guys" />
    <Option className="card animals" url="https://stumble-guys.io/stumble-guys.embed" imageSrc="./assets/images/icons/stumble-guys.webp" title="Stumble Guys Clone" />
    <Option className="card animals" url="games/subway-surfers-unity/index.html" imageSrc="./assets/images/icons/san-francisco.jpg" title="SS: San Francisco" />
    <Option className="card animals" url="https://66564262-37c6-4095-a731-535342e4bbe4.poki-gdn.com/5bd6e8c6-381d-4de5-9823-96662d29afaf/index.html" imageSrc="./assets/images/icons/sugarsugar.png" title="Sugar Sugar HTML5" />
    <Option className="card animals" url="https://www.numuki.com/gameframe/super-mario-63" imageSrc="./assets/images/icons/sm63.png" title="Super Mario 63" />
    <Option className="card animals" url="https://f.kbhgames.com/r/n64/game.php?file=32112_super-mario-64-usa.zip" imageSrc="./assets/images/icons/sm64.png" title="Super Mario 64" />
    <Option className="card animals" url="https://f.kbhgames.com/RS/game.php?r=//f.kbhgames.com/2018/swf/smashflash.swf&w=1521&h=753" imageSrc="./assets/images/icons/ssf1.png" title="Super Smash Flash" />
    <Option className="card animals" url="http://chat.kongregate.com/gamez/0027/1653/live/index.html?kongregate_game_version=1554392772" imageSrc="./assets/images/icons/na.png" title="Supply Chain Idle" />
    <Option className="card animals" url="https://watchdocumentaries.com/wp-content/uploads/games/tanuki-sunset" imageSrc="./assets/images/icons/tanuki.png" title="Tanuki Sunset" />
    <Option className="card animals" url="https://static.arcadespot.com/retroemulator.php?system=nds&game=2017/11/the-simpsons-game.zip" imageSrc="./assets/images/icons/the-simpsons-game.png" title="The Simpsons" />
    <Option className="card animals" url="https://watchdocumentaries.com/wp-content/uploads/games/temple-run-2/" imageSrc="./assets/images/icons/temple-run-2.png" title="Temple Run 2" />
    <Option className="card animals" url="https://leognon.com/tritris/" imageSrc="./assets/images/icons/tritis.png" title="Tritis" />
    <Option className="card animals" url="https://browncha023.github.io/GBA/launcher.html#thps2" imageSrc="./assets/images/icons/thps2.jpeg" title="TH's Pro Skater 2" />
    <Option className="card animals" url="https://browncha023.github.io/GBA/launcher.html#thps3" imageSrc="./assets/images/icons/thps3.jpeg" title="TH's Pro Skater 3" />
    <Option className="card animals" url="https://browncha023.github.io/GBA/launcher.html#thps4" imageSrc="./assets/images/icons/thps4.jpeg" title="TH's Pro Skater 4" />
    <Option className="card animals" url="https://www.rossipotti.de/ausgabe28/tetris/controls.html" imageSrc="./assets/images/icons/na.jpg" title="Twitch Tetris" />
    <Option className="card animals" url="games/unfair-mario/index.html" imageSrc="./assets/images/icons/unfair-mario.jpeg" title="Unfair Mario" />
    <Option className="card animals" url="https://venge.io/" imageSrc="./assets/images/icons/venge.png" title="Venge.io" />
    <Option className="card animals" url="https://raw.githack.com/3kh0/3kh0-assets/main/vex5/index.html" imageSrc="./assets/images/icons/vex5.png" title="Vex 5" />
    <Option className="card animals" url="https://interstellarnetwork.github.io/interstellar-assets/play/vex7/index.html" imageSrc="./assets/images/icons/vex7.png" title="Vex 7" />
    <Option className="card animals" url="https://nowgg.me/interstellar.html" imageSrc="./assets/images/icons/worldbox.png" title="World Box" />
    <Option className="card animals" url="https://zombs.io/" imageSrc="./assets/images/icons/zombs-io.png" title="Zombs.io" />
    <Option className="card animals" url="https://zombsroyale.io/" imageSrc="./assets/images/icons/zombs-royale.png" title="Zombs Royale" />
  </div>
  <script is:inline>
    function load() { alert('This game takes a while to load, It is working though!'); }
    function mouse() { alert('This game only works with a mouse.'); }
  </script>

</body>
</html>
