---
import StarsContainer from "../../components/shuttle/StarsContainer.astro";
import NavBar from "../../components/shuttle/NavBar.astro";
---
<html>
<head>
  <title>Shuttle</title>
  <link rel="icon" type="image/x-icon" href="./favicon.ico" />
  <script is:inline src="/script/bundle.js"></script>
  <script is:inline src="/script/config.js"></script>
  <link rel="stylesheet" href="./assets/css/style.css" />
  <script is:inline src="https://kit.fontawesome.com/be27c0ad9d.js" crossorigin="anonymous"></script>
  <script is:inline src="./assets/js/index.js" defer></script>
  <script is:inline src="./assets/js/gs.js" defer></script>
</head>

<body>
  <StarsContainer />
  <NavBar />

  <iframe id="chat" src="/irepel/proxy.html?url=http://64.44.148.247:6999/chat/"></iframe>
  <div class="background"></div>
</body>
</html>
