---
---
 <!--- Sidebar / Navigation Bar-->
<div class="sidebar">
    <!-- Sidebar Logo Content -->
    <div class="logo_content">
        <div class="logo">
            <!-- Sidebar Logo -->
            <i class='bx bxl-google' id="menu"></i>
            <!-- Sidebar Title -->
            <div class="logo_name">GeneralMath</div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list" style="z-index:9999; position:relative">

        <!-- Home Icon and Title on the Sidebar -->
        <li>
            <a href="./menu">
                <i class='bx bx-home' ></i>
                <span class="links_name">Home</span>
            </a>
        </li>
        <!-- Proxy Icon and Title on the Sidebar -->                
        <li>
            <a href="./search">
                <i class='bx bx-window' ></i>
                <span class="links_name">Search</span>
            </a>
        </li>                
        <!-- Games Icon and Title on the Sidebar -->
        <li>
            <a href="./g">
                <i class='bx bxs-invader' ></i>
                <span class="links_name">Games</span>
            </a>
        </li>                
        <!-- Sites Icon and Title on the Sidebar -->
        <li>
            <a href="./sites">
                <i class='bx bxs-grid' ></i>
                <span class="links_name">Sites</span>
            </a>
        </li>
        <!-- Support Icon and Title on the Sidebar -->
        <li>
            <a href="./support">
                <i class='bx bx-question-mark' ></i>
                <span class="links_name">Support</span>
            </a>
        </li>   
        <!-- Community Icon and Title on the Sidebar -->             
        <li>
            <a href="https://discord.com/invite/cNfDWcA64K" target="_blank">
                <i class='bx bx-chat' ></i>
                <span class="links_name">Community</span>
            </a>
        </li>
        <!-- Patreon Icon and Title on the Sidebar -->
        <li>
            <a href="https://patreon.com/generalmathematics" target="_blank">
                <i class='bx bxl-patreon'></i>
                <span class="links_name">Patreon</span>
            </a>
        </li>
        <!-- GitHub Icon and Title on the Sidebar -->
        <li>
            <a href="https://github.com/GeneralMathematics/General-Mathematics-Beta" target="_blank">
                <i class='bx bxl-github'></i>
                <span class="links_name">GitHub</span>
            </a>
        </li>
        <!-- Settings Icon and Title on the Sidebar -->
        <li>
            <a href="./settings">
                <i class='bx bx-slider-alt' ></i>
                <span class="links_name">Settings</span>
            </a>
        </li>
        <li>
            <a href="./privacy">
                <i class='bx bx-fingerprint'></i>
                <span class="links_name">Privacy</span>
            </a>
        </li>
        <li>
            <a href="./terms">
                <i class='bx bx-clipboard'></i>
                <span class="links_name">Terms</span>
            </a>
        </li>
    </ul>
</div>