---
interface Props {
    title: string;
}

const { title } = Astro.props;
---
<meta charset="utf-8">
<meta name="description" content="An educational website full of school topics and academic resources. The perfect place for students to learn.">
<meta name="keywords" content="math, science, ela, social studies, school, study">
<meta name="viewport" content="width=device-width">
<meta name="language" content="English">
<meta name="author" content="Utopia">
<title>{title}</title>
<link rel="shortcut icon" type="image/png" href="./favicon.ico">
<link rel="icon" type="image/png" href="./favicon.ico">
<link href="./css/style.css" rel="stylesheet" type="text/css" />
<link href="./css/nav.css" rel="stylesheet" type="text/css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
<script is:inline src="./js/all.js"></script>