---
import Option from "../components/Option.astro";
---

<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Vysterium</title>
	<link rel="icon" href="./favicon.png" type="image/x-icon">
	<link href="./index.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
	<label class="switch">
	  <input type="checkbox" id="toggle">
	  <span class="slider"></span>
	</label>

  	<div id="particles-js">
    <div id="widget">
      <button onclick="location.href='https://discord.gg/unblockers'">
		<img src="/icons/prx/disbtn.svg">
	  </button>
    </div>
    <div class="menubar">
	  <Option className="abyss icon-container" href="./abyss/" imageSrc="icons/prx/abyss.svg" title="Abyss" description="A tabbed proxy with a sleek interface." />
	  <Option className="cosmic icon-container" href="./cosmic/" imageSrc="icons/prx/TB_22.svg" title="Cosmic" description="A proxy with smooth css." />
	  <Option className="rammerhead icon-container" href="./rh/" imageSrc="icons/prx/rammerhead.svg" title="Rammerhead" description="A fast backend proxy with support for many sites." />
	  <Option className="delta icon-container" href="./delta" imageSrc="icons/prx/TB_23.svg" title="Delta" description="A WebOS which has apps such as Chromium. It is not a real OS." />
	  <Option className="shuttle icon-container" href="./shuttle/" imageSrc="icons/prx/shuttle.svg" title="Shuttle" description="A popular proxy known for it's speed." />
	  <Option className="interstellar icon-container" href="./interstellar/" imageSrc="icons/prx/interstellar.svg" title="Interstellar" description="A proxy with great cloaking functionalities." />
	  <Option className="incognito icon-container" href="./incog/" imageSrc="icons/prx/incognito.svg" title="Incognito" description="A private proxy which has a giant library of apps or games." />
	  <Option className="irepel icon-container" href="./irepel/" imageSrc="icons/prx/irepel.svg" title="Irepel" description="A game site which also contains a proxy." />
	  <Option className="hypertabs icon-container" href="./terbium/hypertabs" imageSrc="icons/prx/TB.svg" title="Hypertabs" description="A tabbed proxy with tons of unique features." />
	  <Option className="nebula icon-container" href="./nebula/" imageSrc="icons/prx/nebula.svg" title="Nebula" description="A proxy made by Nebula Services which has great looks." />
	  <Option className="terbium icon-container" href="./terbium/" imageSrc="icons/prx/terbium.svg" title="Terbium" description="A WebOS which has the best functionality." />
	  <Option className="elixir icon-container" href="./elixir/" imageSrc="icons/prx/elixir.svg" title="Elixir" description="A clean proxy made with tailwind css." />
	  <Option className="utopia icon-container" href="./utopia/" imageSrc="icons/prx/utopia.svg" title="Utopia" description="The first proxy to implement AB cloaking" />
	  <Option className="fracital icon-container" href="./fracital/" imageSrc="icons/prx/fracital.svg" title="Fracital" description="A proxy with a search bar, this proxy is made for convenience." />
	  <Option className="generalmath icon-container" href="./generalmath/" imageSrc="icons/prx/generalmath.svg" title="General Math" description="A game site with vast library of games." />
	  <Option className="settings icon-container" href="./settings" imageSrc="icons/prx/cog.png" title="Settings" description="for Vysterium" />
    </div>
    <div class="searchbox" id="searchbox">
      <form id="uv-form" class="flex-center">
        <input id="uv-search-engine" value="https://www.google.com/search?q=%s" type="hidden" />
        <input id="uv-address" type="text" placeholder="Search Here!" />
      </form>
    </div>
  </div>

  <script is:inline src="/script/bundle.js"></script>
  <script is:inline src="/script/config.js"></script>
  <script is:inline src="/index.js" defer></script>
  <script is:inline src="/search.js" defer></script>
  <script is:inline src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script is:inline src="particlesjs.js"></script>
</body>
</html>