---
import Header from "../../components/generalmath/Header.astro";
---
<html>
<Header stylesheet="" />

<body style="text-align: center;">
    <h1>Credits</h1>
    <div>  
        <a href="https://github.com/titaniumnetwork-dev/ultraviolet-node">Used with UltraViolet</a>
    </div>
    <div>  
        <a>--</a>
    </div>
    <div>  
        <a>Developed By</a>
    </div>
    <div>
        <a>- Quart2629#1128</a>
    </div>
    <div>
        <a>- lil_block#2275</a>
    </div>
    <div>
        <a>- Fox from <a href="https://mediaology.com">mediaology</a></a>
    </div>
    <div>
        <a>- AstrosAtlas#8031</a>
    </div>

    <script is:inline src="./scripts/settings.js"></script>
</body>
</html>
