---
import Header from "../../components/generalmath/Header.astro";
---
<html>
<Header stylesheet="./settings.css" />

<body>
	<iframe src="./menu" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0%;left:0px;right:0px;bottom:0px" height="100%" width="100%"></iframe>

	<script is:inline src="./scripts/index.js"></script>
	<script is:inline src="./scripts/settings.js"></script>
	<script is:inline src="./nohist/index.js"></script>
</body>
</html>
