---
import Header from "../../components/generalmath/Header.astro";
import NavBar from "../../components/generalmath/NavBar.astro";
---
<html lang="en" dir="ltr">
    <!-- Meta/Info Attributes -->
    <Header stylesheet="./main.css" />
    <body>
        <!--- Sidebar / Navigation Bar-->
        <NavBar />
        <div class="home_content">
            <div style="text-align:center">
                <h1 style="display: 100%">General Mathematics</h1>
                <div class="wrapper"></div>
                <button style="width:120px;height: 60px;" onclick="window.location.href='./uv'">UltraViolet</button>
            </div>
        </div>
        
        <!-- Scripts -->
        <script is:inline src="./scripts/index.js"></script>
        <script is:inline src="./scripts/settings.js"></script>
        <script is:inline src="./nohist/index.js"></script>
        <script is:inline src="./scripts/choice.js"></script>
        <script is:inline src="/script/bundle.js"></script>
        <script is:inline src="/script/config.js"></script>

    </body>
</html>

