---
import Header from "../../components/generalmath/Header.astro";
import NavBar from "../../components/generalmath/NavBar.astro";
---
<html lang="en" dir="ltr">
    <!-- Meta/Info Attributes -->
    <Header stylesheet="./main.css" />
    <body>
    <!--- Sidebar / Navigation Bar-->
    <NavBar />
    <div class="home_content">
<div>
    <div style="text-align: center; align-self: center; align-content: center;">
    <h1>Please Contact an admin on our discord server for more help.</h1>
    <a style="font-size:40px;" class="filtertext" href="/sug.html">Suggestions</a>
    <h1>Q/A</h1>
      <div>
    <h2>- How do I get Fornite, Apex, Rainbow Six, ect?</h2>
        <div>
    <h2>Go to Games > Geforce Now. You will then have to sign in to your platform to play these games. You have to have a Nvidia account enrolled in Geforce Now to play.</h2>
        <div>
    <h2>- Can I have the Github to GeneralMathematics.net? </h2>
          <div>
    <h2> We are currently working on updates on the main site, but we will do a Github push in the future. </h2>
      <div>
    <h2>- How do minimize CrownJS in the bookmarklet tab? </h2>
        <div>
    <h2> Click right Shift </h2>
        <div>
    <h2>- How do I go to google.drive.com if someone is coming to look at my screen? </h2>
          <div>
    <h2> Click "=" on your keyboard, and that will redirect you to your google drive. </h2>
          <div>
    <h2>- Why doesn't GeForce Now work on the website? </h2>
            <div>
    <h2> GeForce Now is currently blocked on Ultraviolet (the proxy we use) at this moment, you may have to use Rammerhead. </h2>
            <div>
    <h2>- How does emulatorJS work? </h2>
              <div>
    <h2> Go to any ROM website (ex. https://www.romsgames.net/) and download the game you want to play. Then, after it downloads, drag the file into the box where the ROM file needs to go. </h2>
              <div>
    <h2>- Do I own any of these games/sites?</h2>
                <div>
    <h2>No, I do not own any of these games or sites. We provite access to the webistes for the world to enjoy. Please DM Quart2629#1128 on discord if you wish to remove your game off of General Mathematics</h2>
            </div>
        </div>
        <form>
        </form>
        </div>
    </div>

    <!-- Scripts -->
    <script is:inline src="./scripts/index.js"></script>
    <script is:inline src="./scripts/settings.js"></script>
    <script is:inline src="./nohist/index.js"></script>
    
  </body>
</html>
