---
import NavBar from "../../components/generalmath/NavBar.astro";
---
<html lang="en" dir="ltr">
    <!-- Meta/Info Attributes -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>General Mathematics</title>
        <link rel = "icon" href = "./img/icons/math.ico" type = "image/x-icon">
        <!-- Boxicons CDN Link -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <!-- Link to CSS Stylesheet -->
        <link rel="stylesheet" href="./main.css">
        <link rel="stylesheet" href="./loader.css">
    </head>
    <body>
    <!--- Sidebar / Navigation Bar-->
    <NavBar />
     <div class="home_content">
<div style="text-align:center">
        <h1 style="display: 100%">UltraViolet</h1>
        <img src="./img/icons/uv.png" width="200" height="200">
        <div class="wrapper">
                    <div class="search-box">
                        <form>
                        <input type="text" style="width: 300px;" autofocus placeholder="Search or type a URL"><br>
                        </form>
                        </div>
            </div>
        </div>
        <form>
        </form>
        </div>
    </div>

    <!-- Scripts -->
    <script is:inline src="./scripts/index.js"></script>
    <script is:inline src="./scripts/settings.js"></script>
    <script is:inline src="./nohist/index.js"></script>
    <script is:inline src="/script/bundle.js"></script>
    <script is:inline src="/script/config.js"></script>

    </body>
</html>
